body {
    display: flex;
    justify-content: center;  
    align-items: center;     
    height: 100vh;            
    margin: 0;
    color: white;                
    background-color: #222222;
}

#box {
    text-align: center;       
    padding: 20px;
    background: rgb(0, 0, 0);
    border-radius: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    
}
